@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Philosopher:ital,wght@0,700;1,400;1,700&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #612c7d4d;
}

::-webkit-scrollbar-thumb {
  background: #612c7d;
  box-shadow: inset 0px 0px 5px #00000080;
}

::selection { /*texto selecionado pelo mouse*/
  background: rgb(49, 16, 80);
  color: #ffffff;
}

:root {
  --defaultLetterColor: rgb(174, 163, 177); 
  --textShadow: 0px 1px 1px black; 
	--background-color: rgba(0, 0, 0, 0.603);
	--box-shadow: 0 5px 5px .5px rgb(0, 0, 0);
}

body {
  background: url(./imagens/fundoProprio.jpg)no-repeat center/cover;
	display: flex;
	flex-direction: column;
	padding: 10px 0 10px 0;
	min-height: 100vh;
  font-family: 'Comfortaa', cursive;
  -webkit-tap-highlight-color: transparent;
	cursor: url(./imagens/cursor.png), default;
	text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 28pt;
  color: var(--defaultLetterColor);
  text-shadow: var(--textShadow);
  padding: 10px 15px 10px 15px ;
	border-radius: 15px;
	background-color:var(--background-color);
	box-shadow: var(--box-shadow);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.link {
  background-color: var(--background-color);
  width: 100%;
	max-width: 400px;
  padding: 20px;
  place-items: center;
  margin-top: 40px;
  text-align: center;
	border-radius: 15px;
  box-shadow: var(--box-shadow);
}

a {
  text-decoration: none;
	cursor: url(./imagens/cursor2.png), default;
}

h2 {
  font-style: oblique;
  text-shadow: var(--textShadow);
  padding: 0 15px 15px 15px;
  color: var(--defaultLetterColor);
	box-shadow: var(--box-shadow);
	border-radius: 5px;
}

h3 {
  padding: 15px 5px 5px 5px;
  color: var(--defaultLetterColor);
  font-size: 10pt;
  margin-top: 30px;
	text-shadow: var(--textShadow);
}