@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Philosopher:ital,wght@0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color1);
}

::-webkit-scrollbar-thumb {
  background: var(--color);
  box-shadow: inset 0px 0px 5px #00000080;
}

::selection {
  /*texto selecionado pelo mouse*/
  background: var(--color);
  color: var(--color1);
}

:root {
  --color: rgb(0, 0, 0);
  --color1: rgb(151, 146, 146);
  --color2: rgba(0, 0, 0, 0.575);
  --color3: rgb(255, 255, 255);

}

body {
  background: url(./imagens/fundoProprio.jpg)no-repeat center/cover;
  display: flex;
  flex-direction: column;
  padding: 10px 0 10px 0;
  min-height: 100vh;
  font-family: 'Comfortaa', cursive;
  -webkit-tap-highlight-color: transparent;
  cursor: url(./imagens/cursorMyProjects.png), default;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 30pt;
  color: var(--color1);
  text-shadow: var(--color) 0 8px 1px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.link {
  display: flex;
  flex-direction: column;
  background-color: var(--color2);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  place-items: center;
  margin-top: 40px;
  text-align: center;
  border-radius: 15px;
  box-shadow: var(--color) 0 0 5px 1px;
  align-items: center;
}

a {
  text-decoration: none;
  cursor: url(./imagens/cursor2MyProjects.png), default;
}

h2 {
  width: 100%;
  font-style: oblique;
  text-shadow: var(--color1) 0 1px 1px;
  padding: 0 15px 15px 15px;
  color: var(--color1);
  border-bottom: var(--color) 2px solid;
  border-radius: 5px;
}

h2:hover {
  transition: all .3s ease-in-out 0s;
  letter-spacing: .5px;
  text-shadow: var(--color3) 0 1px 1px;
  border-bottom: var(--color1) 1px solid;
}

h2:not(:hover) {
  transition: all .3s ease-in-out 0s;
}

h3 {
  padding: 15px 5px 5px 5px;
  color: var(--color1);
  font-size: 10pt;
  margin-top: 30px;
}

footer {
  padding: 5px;
  width: 100%;
}

#footer {
  color: var(--color1);
  font-size: 8pt;
  font-family: 'Comfortaa', cursive;
  padding: 5px;
  border-radius: 1ex;
  text-shadow: var(--textShadow);
}