@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Philosopher:ital,wght@0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color5);
}

::-webkit-scrollbar-thumb {
  background: var(--color5);
  box-shadow: inset 0px 0px 5px #00000080;
}

::selection {
  /*texto selecionado pelo mouse*/
  background: var(--background-color);
  color: var(--letterColor3);
}

:root {
  --color: rgb(0, 0, 0);
  --color2: rgb(79, 54, 90);
  --color3: rgb(150, 141, 141);
  --color4: rgb(89, 58, 104);
  --color5: rgb(48, 24, 61);
  --boxShadow: rgb(47, 33, 54) 0 0 5px 1px;
  --textShadow: rgb(149, 138, 153) 0 2px 5px;
}

body {
  cursor: url(./imagens/cursor.png), default;
}

#body {
  background-color: var(--color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  -webkit-tap-highlight-color: transparent;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  margin: auto;
}

h1 {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  color: var(--color2);
  font-size: 24pt;
  font-family: 'Comfortaa', cursive;
}

#content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0px;
}

a {
  text-decoration: none;
  cursor: url(./imagens/cursor2.png), default;
}

.div {
  width: 100%;
  max-width: 600px;
  height: 250px;
  border-radius: 1ex;
  background-image: linear-gradient(var(--color), var(--color2));
  margin: 25px auto 25px auto;
  outline: none;
  position: relative;
  padding: 10px 0 10px 0;

  cursor: url(./imagens/cursor2.png), default;
}

.div:hover {
  transition: all .3s ease-in-out 0s;
  transform: translateY(-6px);
  letter-spacing: .5px;
  border: var(--color5) 1px solid;
}

.div:not(:hover) {
  transition: all .3s ease-in-out 0s;
}

h3 {
  width: 95%;
  height: 150px;
  color: var(--color2);
  text-shadow: var(--color) 0 3px 3px;
  font-size: 25pt;
  margin: auto;
  padding: 20px 0 0 0;
}

.div:hover h3 {
  text-shadow: none;
  color: var(--color4);
  text-shadow: var(--color) 0 3px 3px;
}

p {
  color: var(--color3);
  text-shadow: var(--color5) 0 0 2px;
  margin-top: 5px;
  padding: 20px 0 10px 0;
  font-size: 13pt;
}

footer {
  padding: 5px;
  width: 100%;
}

#footer {
  color: var(--color3);
  font-size: 8pt;
  font-family: 'Comfortaa', cursive;
  padding: 5px;
  border-radius: 1ex;
}